.Spacial2{
                          color: black;
                         }
.powerplay1{
                        background-color: red;
}
.transfer{
                     
border: 1px solid black;
width: 300px;
height: 250px;
border-radius: 10PX;
background-color: rgb(19, 184, 27);
margin-left: 30px;
margin-top: 30px;
 color: black;
}
.trs{
                        margin-left: 33px;
                        margin-top: 30px;
}
.trs1{
                        font-size: 20px;
}
.trs2{
                      
}
.flexbox{
                        display: grid;
                        grid-template-columns: repeat(2,1fr);

}
.sw{
                        display: flex;
}