.Spacial2{
                          color: black;
                         }
.powerplay1{
                        background-color: red;
}
.transfer{
                     
border: 1px solid black;
width: 200px;
height: 250px;
border-radius: 10PX;
background-color: white;
/* margin-left: 30px;
margin-top: 30px */
}